Source: beanstalkd
Section: net
Priority: extra
Maintainer: Serafeim Zanikolas <serzan@hellug.gr>
Build-Depends: debhelper (>= 7), autotools-dev, libtool, libevent-dev (>= 1.4.1), netcat, fiu-utils
Standards-Version: 3.8.3
Homepage: http://xph.us/software/beanstalkd/

Package: beanstalkd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libevent (>= 1.4.1), ucf
Description: simple, in-memory workqueue server
 Beanstalk is a simple, fast workqueue server. Its interface is generic, but
 was originally designed for reducing the latency of page views in high-volume
 web applications by running time-consuming tasks asynchronously.
 .
 This package has the server files.
