#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# don't unnecessarily link against libnsl
export ac_cv_lib_nsl_inet_aton=thanks_but_no

%:
	dh --with-quilt $@

override_dh_auto_configure:
	dh_auto_configure -- --disable-rpath

override_dh_prep:
	dh_prep -X beanstalkd.spec
